*{
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
}

.team-heading{
background-color:#e847c0;
color: #e9e4eb;
}

.card-header{
    background-color: #e847c0;
    color: #e3f0eb;
}

.card{
    margin:20px;
}